<footer class="footer">
    <div class="container">
        <!-- Social links in the footer -->
        {% include social-links.html %}
        
        <!-- Copyright information -->
        <p class="copyright">
            &copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}. All rights reserved.
            <span class="separator">|</span>
            <a href="{{ site.url }}/privacy-policy/" aria-label="View our privacy policy">Privacy Policy</a>
            <span class="separator">|</span>
            <a href="{{ site.url }}/accessibility/" aria-label="View our accessibility statement">Accessibility</a>
        </p>
    </div>
</footer>
