<!-- To add more icons, find your icon here -> https://simpleicons.org/ -->

<div class="social-links">
    {% if site.facebook %}
        <a class="link" data-title="facebook.com/{{ site.facebook }}" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener" alt="anchor link for social media facebook" aria-label="Visit our Facebook page">
            <img height="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/facebook.svg" alt="" aria-hidden="true" class="simple-icon" />
        </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener" alt="anchor link for social media twitter" aria-label="Visit our Twitter/X page">
            <img height="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/x.svg" alt="" aria-hidden="true" class="simple-icon" />
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener" alt="anchor link for social media linkedin" aria-label="Visit our LinkedIn profile">
            <img height="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/linkedin.svg" alt="" aria-hidden="true" class="simple-icon" />
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener" alt="anchor link for social media github" aria-label="Visit our GitHub profile">
            <img height="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" alt="" aria-hidden="true" class="simple-icon" />
        </a>
    {% endif %}

    {% if site.gitlab %}
        <a class="link" data-title="gitlab.com/{{ site.gitlab }}" href="https://gitlab.com/{{ site.gitlab }}" target="_blank" rel="noopener" alt="anchor link for social media gitlab" aria-label="Visit our GitLab profile">
            <img height="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/gitlab.svg" alt="" aria-hidden="true" class="simple-icon" />
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}"  rel="noopener" alt="anchor link for email" aria-label="Send us an email">
            <img height="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/gmail.svg" alt="" aria-hidden="true" class="simple-icon" />
        </a>
    {% endif %}
</div>
